@import url(./base.css);
@import url(./pokeTypes.css);

.__header {
    display: flex;
    gap: 1rem;

    padding: 2.5rem 2.5rem 15rem;
    align-items: center;

    & h1 {
        font-size: 2.5rem;
    }

    & .__id {
        font-size: 1.5rem;
        font-weight: 600;
        margin-left: auto;
    }
}

.__pokeNav {
    margin: 2rem max(1rem, (100% - 37.5rem) / 2);

    & .--prev {
        margin-right: auto;
    }

    & .--next {
        margin-left: auto;
    }
}

.__pokeCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background: #FFF;

    padding: 7rem 2.5rem 2.5rem;
    margin-inline: max(1rem, (100% - 40rem) / 2);

    border-radius: 1rem;
}

.__img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5rem;
}

.__types {
    list-style: none;
    display: flex;
    gap: .5rem;
}

.__attributes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1rem;
    gap: 1rem 3rem;
    list-style: none;
    font-weight: 300;

    & > * {
        grid-row: span 2;
        display: grid;
        grid-template-rows: subgrid;

        align-items: center;
        justify-content: center;

        & div {
            display: flex;
            align-items: center;
            gap: .5rem;
        }

        &:nth-of-type(2) {
        position: relative;

            &::after, &::before {
                content: "";
                position: absolute;

                height: 100%;
                width: .175rem;
                border-radius: .5rem;

                background: #F0F0F0;
                left: -25%;
                transform: translateX(50%);
            }

            &::after {
                left: 125%;
                transform: translateX(-50%);
            }
        }
    }

}

.--abilities {
    flex-direction: column;
    gap: .25rem;
}

.__stats {
    flex-direction: column;
    gap: 1.25rem;

    width: 100%;

    & .__body {
        grid-template-columns: 4rem 4rem auto;

        & .__data {
            grid-column: span 3;

            display: grid;
            grid-template-columns: subgrid;

            & .__stat {
                text-align: end;
                padding-right: 1rem;
                padding-block: .25rem;

                border-right: .175rem solid #F0F0F0;
            }

            & .__stat-val {
                padding-inline: 1rem;
            }
        }
    }
}

.__stats .__heading {
    font-size: 1.5rem;
    font-weight: 600;
}

.__progress {
    width: 100%;
    border-radius: 1rem;
    transform: translateY(22.5%);

    &::-webkit-progress-bar {
        height: .5rem;
        border-radius: 1rem;
        background: #F1F1F1;
    }

    &::-webkit-progress-value {
        border-radius: 1rem 0 0 1rem;
        background: #B8B8B8;
    }
}