@import url(./base.css);
@import url(./pokeTypes.css);

#main {
    padding: 1rem;
}

.__header {
    display: flex;
    gap: 1rem;

    align-items: center;

    & h1 {
        font-size: 2.5rem;
    }

    & .__id {
        font-size: 1.5rem;
        font-weight: 600;
        margin-left: auto;
    }
}

.__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background: #FFF;

    padding: 7rem 2.5rem 2.5rem;
    margin-inline: max(1rem, (100% - 40rem) / 2);

    border-radius: 1rem;
}

/* .__img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5rem;
} */


.__stats .__heading {
    font-size: 1.5rem;
    font-weight: 600;
}

.__progress {
    width: 100%;
    border-radius: 1rem;
    transform: translateY(22.5%);

    &::-webkit-progress-bar {
        height: .5rem;
        border-radius: 1rem;
        background: #F1F1F1;
    }

    &::-webkit-progress-value {
        border-radius: 1rem 0 0 1rem;
        background: #B8B8B8;
    }
}