* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.poke-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    list-style: none;
    margin: max(1rem, (100% - 60rem) / 2);
}

.poke-card {
    position: relative;
    display: flex;
    flex-direction: column;

    border-radius: 1rem;
    box-shadow: 0 0 .5rem #979797;

    max-width: 20rem;
    padding: 1rem;

    align-items: center;
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
    font-size: 3rem;
}

.poke-card::after {
    content: "";

    position: absolute;
    background: #EFEFEF;
    border-radius: 1rem;

    width: 100%;
    height: 7.5rem;

    left: 0;
    bottom: 0;
    z-index: -1;
}

.poke-id {
    color: #666;
    font-size: 1.5rem;
    align-self: end;
}

.card-img {
    max-width: 75%;
}