@import url(./base.css);

.header {
    grid-template-columns: repeat(2, 1fr);

    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    
    padding: 1rem;
    gap: 1rem;
    
    background: linear-gradient(#171717 80%, #00000000 100%);

    & .heading {
        font-weight: 750;
        font-size: 2.5rem;
        text-decoration: none;
        
        width: fit-content;
    }

    & .__nav {
        width: fit-content;
        border: .25rem #E2AF03 solid;
        border-radius: 1rem;

        margin-left: auto;

        & .nav__list {
            height: 100%;
            padding-inline: 5rem;
            gap: 5rem;
            list-style: none;
            justify-content: space-between;
            align-items: center;

            & .__item {
                font-size: 1.25rem;
            }
        }
    }

    & .search-container {
        position: relative;
        margin-bottom: 2rem;
        grid-column: 1 / -1;

        & .search-label {
            fill: #e2de03;
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 1.5rem;
            transform: translate(-50%, -50%) scale(1.75);
        }

        & .searchbar {
            width: 100%;
            padding: 1rem 1rem 1rem 3rem;
            font-size: 1.25rem;
            border-radius: 1rem;
            border: none;
            background: #3a3a3a;
        }
    }
}

.__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    
    list-style: none;

    padding: 10rem .75rem 2rem;
}

.__card {
    position: relative;
    display: flex;

    gap: 1rem;

    border-radius: 1rem;
    box-shadow: 0 0 .5rem #E2AF03;
    z-index: 1;

    padding: 1rem;

    align-items: center;

    text-decoration: none;
    font-size: clamp(1rem, 4vw, 3rem);

    & .card-img {
        max-height: 5rem;
        aspect-ratio: 1;
        object-fit: cover;
        object-position: top;
        border-radius: .75rem;
    }
}



.page-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    color: #171717;

    background: #E2AF03;
    border-radius: 1rem;
    width: fit-content;
    margin: 1rem auto;

    & .--btn {
        cursor:pointer;
        padding: 1rem;
        
        & svg {
            transform: scale(1.5);
        }

        &.prev-btn {
            border-radius: 1rem 0 0 1rem;
        }
        &.next-btn {
            border-radius: 0 1rem 1rem 0;
        }
    }
}

.--off {
    background: #00000040;
}