* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.poke-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 4rem 10rem;
}

.card-img {
    max-width: 100%;
}